body{
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.top{
    background-color: #1F2937;
    color: #eee;
}

.header {
    display: flex;
    justify-content: space-around
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 350px;
}

p.subtext {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 350px;
}

.hero{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
    gap: 150px;
}

.signup.hero {
    color: white;
    background-color: #3882F6;
}

.placeholder{
    background-color: lightslategray;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
