body {
    display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.top {
    background-color: #1F2937;
    color: #eee;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 12px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    /* max-width: 350px; */
}

.hero {
    display: flex;
    justify-content: space-around;
    padding: 150px;

}

.left {
    padding: 0;
    margin: 0;
    max-width: 400px;
}

.herobutton {
    color: white;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    border: solid #3882F6;
}
.ctabutton{
    color: white;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    border: solid white;
}

.placeholder {
    background-color: lightslategray;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleinfo{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items{
display: flex;
justify-content: center;
}

.first, .second, .third, .fourth{

}

.image1, .image2, .image3, .image4 {
    border: 3px solid #3882F6;
    border-radius: 16px;
    height: 150px;
    width: 150px;
}

.subtext {
    font-size: 18px;
    color: #F9FAF8;
}
